.footer{
    color: white;
    display: flex;
    flex-direction: column;
}
.footer1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: gray;
    margin-bottom: 0%;
    padding: 10px;
}
.footer2{
    
    background-color:dimgray;
    text-align: center;
}