.header{
    display:flex;
    flex-direction: row;
    /* flex-grow: 2; */
    height: 60px;
    background-color: #228B22;
    justify-content: space-around;
    align-items: center;
    font-size: larger;  
    box-sizing: border-box;
}

.logo{
    height: 75%;
}

.header a, .menu-button{
    text-decoration: none;
    color:white;   
    font-weight:500;
    align-items: center;
}

.search-box{
    display: flex;
    flex-grow: 0;
    height:70%;
    background-color:inherit;
    box-sizing: border-box;
}

.search-box .input[type=text]{
    outline: none;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    padding-left: 15px;
    border: none;
    font-size:medium;
}

.search-box .button{
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    padding: 0%;
    border: none;
    background-color: white;
    color: #228B22;
}

.menu-button{
    height: inherit;
}

.menu-content{
    display:flex;
    flex-direction:column;
    display:none;
    top:45px;
    position:absolute;
    /* background-color: aqua;  */
    border:1px solid red;
}
.menu:hover .menu-content{
    display:block;
    display:flex;
    flex-direction:column;
}

.menu-content a{
    background-color: gray;
}